#hero-section {
	background-size: auto 100%;
	background-position: center center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 10vh;
	gap: 2rem;
}

.hero-background-1 {
	background-image: url('./../assets//backgrounds/hero-background-1.webp');
}
.hero-background-1::after {
	display: block;
	position: relative;
	background: linear-gradient(
		180deg,
		rgba(132, 21, 8, 0) 4.91%,
		#841508 83.02%
	);
	height: 400px;
	width: 100%;
	content: '';
}

.hero-background-2 {
	background-image: url('./../assets//backgrounds/hero-background-2.webp');
}
.hero-background-2::after {
	display: block;
	position: relative;
	background: linear-gradient(
		180deg,
		rgba(132, 21, 8, 0) 4.91%,
		#fbeda4 83.02%
	);
	height: 400px;
	width: 100%;
	content: '';
}

.hero-background-3 {
	background-image: url('./../assets//backgrounds/hero-background-3.webp');
}
.hero-background-3::after {
	display: block;
	position: relative;
	background: linear-gradient(
		180deg,
		rgba(132, 21, 8, 0) 4.91%,
		#1a2e69 83.02%
	);
	height: 400px;
	width: 100%;
	content: '';
}

#profile-pic {
	border: 5px solid #000000;
	max-height: 250px;
	max-width: 50%;
}

#social-links {
	flex-direction: column;
}

#social-links > button,
#social-links > a > button {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	border: none;
	width: 300px;
	color: white;
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	cursor: pointer;
	font-family: 'Share', cursive;
	text-align: center;
	justify-content: center;
	font-size: clamp(14px, 4vw, 24px);
}

#mint {
	background: #0c7e3f;
}

#mint:hover {
	background: #0fb95c;
}

.social-button {
	background: #000000;
}

.social-button:hover {
	background: #3a3636;
}

.social-button__icon {
	height: 25px;
	width: 25px;
}

#hero-section > .text-content {
	font-family: 'Share', cursive;
	text-align: center;
	font-size: clamp(18px, 4vw, 30px);
}

#mint:hover {
	background: #bd5050;
	cursor: not-allowed;
}

#mint:focus {
	background: #bd5050;
	cursor: not-allowed;
}

#mint:hover > *,
#mint:focus > * {
	display: none;
	outline: none;
}

#mint:hover::before,
#mint:focus::before {
	content: 'Coming on 23 March';
}
