#journey-stories {
	padding: 0;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.journey-stories__item {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0;
}

.journey-stories__item__image {
	border: 2px solid #000000;
	border-radius: 380px;
	width: clamp(200px, 40vw, 300px);
}

.journey-stories__item__text-area {
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	padding: 1rem 2rem;
}

.journey-stories__item__title {
	font-family: 'Share', cursive;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 32px;
}

.section-content__text {
	color: white;
}

#montanier {
	background-image: url('./../assets/backgrounds/hikeman-background.webp');
}

#astronaut {
	background-image: url('./../assets/backgrounds/space-station-background.webp');
}

#ceo {
	background-image: url('./../assets/backgrounds/ceo-background.webp');
}

#scuba {
	background-image: url('./../assets/backgrounds/scuba-background.webp');
}

#judge {
	background-image: url('./../assets/backgrounds/court-house-background.webp');
}

#butcher {
	background-image: url('./../assets/backgrounds/butchery-background.webp');
}

#doctor {
	background-image: url('./../assets/backgrounds/hospital-background.webp');
}

#constructor {
	background-image: url('./../assets/backgrounds/construction-site-background.webp');
}

#fireman {
	background-image: url('./../assets/backgrounds/fire-station-background.webp');
}

#police {
	background-image: url('./../assets/backgrounds/police-station-background.webp');
}

@media only screen and (min-width: 1020px) {
	#journey-stories {
		gap: 1rem;
	}

	.journey-stories__item {
		display: grid;
		grid-template-columns: 20% 1fr;
		column-gap: 2rem;
		min-height: 50vh;
		place-items: center;
		padding: 0 2rem;
	}

	.journey-stories__item__text-area {
		align-items: center;
		border-radius: 5px;
		align-self: center;
		margin-right: 2rem;
	}
	.journey-stories__item__image {
		grid-row-start: 1;
		width: 90%;
		margin: 0 auto;
		max-width: 250px;
	}

	.journey-stories__item__title {
		text-align: left;
	}
}
