#hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 95vh;
	padding-top: 2rem;
}

#hero-section > #profile-pic {
	border: 5px solid #000000;
	max-height: 50%;
	max-width: 80%;
}

#social-links > a {
	text-decoration: none;
}

#social-links > a > .social-button {
	background: #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	width: 200px;
	color: white;
	padding: 1rem;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	justify-content: space-evenly;
}

#social-links > a > .social-button:hover {
	background: #3a3636;
}

#social-links > a > .social-button > .social-button__icon {
	height: 25px;
	width: 25px;
}

#hero-section > .text-content {
	font-family: 'Share', cursive;
	text-align: center;
	font-size: clamp(18px, 4vw, 30px);
}

@media only screen and (min-width: 768px) {
	#hero-section > #profile-pic {
		max-height: 50%;
		max-width: 50%;
	}
	#social-links {
		flex-direction: row;
	}
}
