body {
	position: relative;
	background-color: #dddfd3;
	margin: 0;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: clamp(40px, 15vw, 150px);
}

h2 {
	font-size: clamp(34px, 10vw, 60px);
	line-height: clamp(40px, 10vw, 60px);
}

h1,
h2 {
	margin: 0;
	font-family: Extreme;
	font-weight: normal;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

.center-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.rounded-image {
	border-radius: 50%;
}

.blob {
	position: absolute;
}

section {
	z-index: 100;
}

.section-header {
	background: #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 3rem 1rem;
}

.section-header > h2 {
	text-align: center;
	width: 70%;
	margin: 0 auto;
	max-width: 700px;
	color: white;
}

.section-content {
	background-color: #dddfd3;
	padding: 1rem 2rem;
}

.section-content__text {
	font-family: 'Share';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	text-align: justify;
}

@media only screen and (min-width: 1020px) {
	.section-header {
		box-sizing: border-box;
	}
}
