body {
	position: relative;
	background-color: #dddfd3;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 5vh;
}

h1 {
	font-size: clamp(82px, 20vw, 150px);
}

h2 {
	font-size: clamp(34px, 10vw, 60px);
	line-height: clamp(40px, 10vw, 60px);
}

h1,
h2 {
	margin: 0;
	font-family: Extreme;
	font-weight: normal;
}

p {
	margin: 0;
}

.center-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.rounded-image {
	border-radius: 50%;
}

.blob {
	position: absolute;
}

section {
	z-index: 100;
}

.section-header {
	background: #ccc2ad;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 1rem;
}

.section-header > h2 {
	text-align: center;
	width: 70%;
	margin: 0 auto;
	max-width: 700px;
}

.section-content {
	background-color: #dddfd3;
	padding: 1rem 2rem;
}

.section-content__text {
	font-family: 'Share';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	text-align: justify;
}

@media only screen and (min-width: 1020px) {
	body {
		gap: 20vh;
	}

	.section {
		margin: 0 10%;
	}

	.section-header {
		border: 5px solid #000000;
		box-sizing: border-box;
		box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
		border-radius: 40px 40px 0px 0px;
	}

	.section-content {
		border: 3px solid #000000;
		box-sizing: border-box;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 0px 0px 40px 40px;
	}
}
