#story-section {
	position: relative;
	min-height: 50vh;
	background-color: #ccc2ad;
	background: linear-gradient(
		180deg,
		rgba(204, 194, 173, 1) 50%,
		rgba(221, 223, 211, 1) 100%
	);
	padding: 2rem 0;
}

#story-section > .card {
	width: 90%;
	padding: 2rem;
	min-height: 200px;
	height: auto;
}

#story-section > .card > span {
	font-family: 'Share', cursive;
	font-size: clamp(18px, 4vw, 30px);
	line-height: clamp(24px, 5vw, 45px);
	text-align: justify;
}

@media only screen and (min-width: 1020px) {
	#story-section > .card {
		border-radius: 10px;
		width: 70%;
		margin: 0 auto;
		border: 4px solid #000000;
	}
}
