#team-members-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}
#team-members-list > .team-member-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

#team-members-list > .team-member-item > img {
	max-width: 250px;
	max-height: 250px;
}
